<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Title %><br />
    <%= f.text_field :Title %>
  </div>
  <div class="field">
    <%= f.label :Body %><br />
    <%= f.text_field :Body %>
  </div>
  <div class="field">
    <%= f.label :PostedAt, 'Posted'  %><br />
    <%= f.datetime_select :PostedAt %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
