<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.Title %>
</p>

<p>
  <b>Body:</b>
  <%= @post.Body %>
</p>

<p>
  <b>Posted:</b>
  <%= @post.PostedAt %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
